.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

body {
  color: #DCF2F1;
  background-color:#0F1035 ;
}

.top {
  margin: 30px;
  opacity: 0.9;
}

.container{
  display: flex;
  flex-direction: row;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.main-div {
  background-color: #365486;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

button {
  height: 40px;
  width: 200px;
  border: none;
  box-shadow: #DCF2F1;
  border-radius: 10px;
  background-color: #02c8f9;
  color:#0F1035;
  outline: none;
}

.left {
  margin-right:10px;
}

.right {
  margin-left:10px;
}